* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    background-color: #2F0E2C;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 96px;
    color: #ffffff;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 100%;
}

nav {
    font-size: 26px;
    color: #ffffff;
    background-color: #006BA6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2% 0%
}

.filter {
    border: none;
    background-color: #006BA6;
    color: white;
    font-size: 26px;
    margin-left: 10%;
}

.searchbar {
    margin-right: 2%;
    width: 10%;
}

.magnifier {
    width: 5%;
    margin-left: auto;
    background-image: url("./images/magnifier.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
}

.magnifier:hover {
    background-color:#742270;
    border-radius: 15px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(180deg, #742270 9.37%, rgba(255, 255, 255, 0) 92.19%), #006BA6;
}

.container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    
}

.maincards {
    display: flex;
}

.card {
    width: 30%;
    margin: 2% 0%;
}

.cover {
    width: 100%;
    height: 447px;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    border: black 5px;
    flex-grow: 0;
}

.linkcard {
    height: 447px;
}

.datacard {
    width: 100%;
    height: 120px;
    background-color: #2F0E2C;
    border-radius: 0px 0px 10px 10px;
    color: white;  
}

#movietitle {
    font-size: 20px;
    margin: 2%;
}

#moviegenre {
    font-size: 12px;
    margin: 2%;
}

#movieorigin {
    font-size: 14px;
    margin: 2%;
}

.searcherror {
    height: 500px;
    color: white;
    padding-top: 2%;
}
.aboutus {
    color: white;
    height: 500px;
    padding: 2% 2%
}

footer {
    background-color: #212121;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
}
.redessociales {
    width:7%;
    height:50px;
}

#facebook {
    background-image: url("./images/logo facebook.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#instagram {
    background-image: url("./images/logo\ instagram.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#twitter {
    background-image: url("./images/logo twitter.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contactinfo {
    color: white;
    font-size: 18px;
    margin-left: 2%;
    margin-bottom: 2%;
}
@media all and (max-width: 768px) {
    .card {
        width: 40%;
    }
}


@media all and (max-width: 440px) {
    .title {
        font-size: 58px;
    }
}

@media all and (max-width: 375px) {
    .title {
        font-size: 48px;
    }

    nav {
        width: 100%;
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .card {
        width: 80%;
    }

}

